body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

.title {
    color: #2c3e50;
}

.btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2980b9;
}

#calendar {
    max-width: 1000px;
    margin: 20px auto;
    min-height: 600px;
}

.cale_btn {
    background-color: #3498db;
    opacity: 0.5;
    border: none;
    padding: 55px 55px;
    cursor: pointer;
}

/* css für kalender */
/* Samstag und Sonntag farblich hinterlegen */
.fc-day-sat, .fc-day-sun {
    background-color: #c9c9c9 !important; /* Leichter Graublau-Ton */
}

/* Optional: Wochenend-Kopfzeilen (Sa/So) ebenfalls anpassen */
.fc-col-header-cell.fc-day-sat, 
.fc-col-header-cell.fc-day-sun {
    background-color: #848484 !important;
}