<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Planner Kalender</title>
    <!-- FullCalendar CSS & JS via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
    <!--Defines with JavaScript to use and its path-->
    <script src="/scripts/cale.js" defer></script>
    <!--Defines where to find a style sheet and witch to use-->
    <link rel="stylesheet" href="/style/test.css">
    <style>
        body { font-family: sans-serif; margin: 20px; }
        #calendar { max-width: 900px; margin: 0 auto; }
    </style>
</head>
<body>

    <a href="/" class="btn">Dashboard</a>
    
    <!--platzhakter für den button-->
    <p><br></p> 
    
    <div id="calendar"></div>
    
    <h1>TODOs</h1>
    <input type="date" id="todo-duedate" />
    <button onclick="addTodo()">Hinzufügen</button>
    
</body>
</html>