<!DOCTYPE html>
<html>
    <head>
        <!--Defines the char set used-->
        <meta charset="UTF-8">
        <!--Defines with JavaScript to use and its path-->
        <script src="/scripts/dash.js" defer></script>
        <!--Defines where to find a style sheet and witch to use-->
        <link rel="stylesheet" href="/style/test.css">
        <title>Dashboard</title>
    <head>
    <body>
        <h1 class="title">Dashboard</h1>
        <!-- Als Link im Button-Style -->
        <a href="/calender" class="btn">Zum Kalender</a>
    </body>
</html>