<!DOCTYPE html>
<html>
    <head>
        <!--Defines the char set used-->
        <meta charset="UTF-8">
        <!--Defines with JavaScript to use and its path-->
        <script src="/scripts/test.js" defer></script>
        <!--Defines where to find a style sheet and witch to use-->
        <link rel="stylesheet" href="/style/test.css">
        <title>Planner App</title>
    <head>
    <body>
        
        <h1 class="title">Meine Planner Web-App</h1>
        <button id="test" class="btn">Click me</button>

        <h1>My First Heading</h1>

        <p>My first paragraph.</p>

        <h2>HTML Buttons</h2>
        <p>HTML buttons are defined with the button tag:</p>

        <button id="test">Click me</button>
        <p id="ausgabeTest"></p>
        
        <h2>HTML Images</h2>
        <p>HTML images are defined with the img tag:</p>

        <img src="w3schools.jpg" alt="W3Schools.com" width="104" height="142">

        <h2>An Unordered HTML List</h2>

        <ul>
            <li>Coffee</li>
            <li>Tea</li>
            <li>Milk</li>
        </ul>

        <h2>HTML Links</h2>
        <p>HTML links are defined with the a tag:</p>

        <a href="https://www.w3schools.com">This is a link</a>
    </body>
</html>